.all_create{
	margin-left: 320px;
	margin-top: 40px;
}
.button_index {

    font-size: 24px;
    font-style: italic;
    color: white;   
    padding: 5px;
    text-decoration-line: none;
  
}
body {
  background-color: #212121 ;
}
th {
    background-color: #E64A19;
    color: white;
}

.button_create {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px 18px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
.button1:hover {
    background-color: #4CAF50;
    color: white;
}
.create_input {
	padding: 21px;
}